#命令前綴
Prefix: '&bLite&3SignIn &f&l>>> '

#插件語言
#可用: Traditional-Chinese, Simplified-Chinese, Japanese, English
Language: Traditional-Chinese

#PlaceholderAPI設置
PlaceholderAPI:
    #是否使用
    Enabled: true
    #變数緩存更新的延遲（秒）
    #由於部分變数需要不斷地讀取資料庫的數據，
    #此選項用於防止頻繁調用PAPI變数對資料庫IO造成的巨大負擔
    Cache-Update-Delay: 10
    #例外的佔位符（不進行緩存的）
    #示例: 'queue' 即 %litesignin_queue% 
    Exceptions: []

#今日在線時長條件（在線達到一定時間後才可簽到）
#注意：今日在線時長統計會因伺服器重啟或插件卸載而重置
Online-Duration-Condition:
    #是否啟用
    Enabled: false
    #需要的時間
    #格式： 時:分:秒， 從左往右
    #最小值: 00:00:00 ,最大值: 23:59:59
    Time: 00:03:00
    #今日在線時長累計（啟用後，即便玩家中途斷開連結，今日在線時長也會保留）
    Statistics: true

#是否啟用簽到排名榜功能
#此功能用於登記每日簽到玩家的先後順序
Enable-Sign-In-Ranking: true

#是否啟用多組獎勵模式
#當玩家同時擁有多個獎勵組的權限時，將在簽到時同時獲得它們的獎勵
#例如玩家同時擁有Group1和Group2的組權限，簽到後將同時獲得這兩個組的獎勵
Enable-Multi-Group-Reward: false

#是否在玩家進入伺服器的時候提醒玩家簽到
Join-Event:
    Enabled: true
    #是否啟用進服時自動簽到（需要擁有權限）
    Auto-SignIn: false
    #延遲（單位：秒）
    Delay: 0

#簽到菜單相關設置
GUI-Settings:
    #是否啟用箱子GUI作為簽到菜單
    #啟用後可使用/signin gui打開菜單
    Enabled: true
    #下限日期，用於限制能打開的簽到菜單的最低日期
    #PS: 2019年11月15日是本插件初代版本完工之日
    Limit-Date:
        #是否啟用
        Enabled: false
        #最低年份
        Minimum-Year: 2019
        #最低月份
        Minimum-Month: 11

#是否檢查更新
#僅在啟動伺服器時運行，將自動檢測插件的最新版本及信息，並彙報給控制台及有擁有對應權限的玩家
#此功能並不會造成伺服器產生過多流量（每次檢測產生約不到1kb網路流量）
Updater: true

#自動保存數據
Auto-Save:
    #是否啟用
    Enabled: false
    #是否僅MySQL儲存時啟用
    Only-MySQL: true
    #延遲（分鐘）
    Delay: 10
    
#是否啟用Metrics
#詳見https://bstats.org/plugin/bukkit/LiteSignIn/11849
Metrics: true
    
#木牌簽到腳本
#啟用後將生成WoodSignSettings.yml文件，請在該文件中按照註釋的幫助進行編輯。
Wood-Signs-Script: false

#異步線程的設置
#若不清楚這什麼是異步線程，請不要修改這個選項！
Async-Thread-Settings: 
    #任務執行器的執行延遲（單位是秒，可以有小數）
    Task-Thread-Delay: 0.1
    #異步任務設置
    #你可以選擇將某些任務歸類為異步任務
    Async-Task-Settings:
        #排行榜查看
        Leaderboard-View: false
        #加載玩家數據
        Load-Data: true
        #打開GUI（由於加載頭顱可能造成卡頓，故默認啟用此選項）
        Open-GUI: true
    
#補簽卡
Retroactive-Card:
    #如果為false， 則不啟用補簽功能
    Enabled: true
    #補籤的間隔， 單位秒
    Intervals: 5
    #每一次補簽所需的補簽卡數量
    Quantity-Required: 1
    #下限日期，玩家無法對這之前的日期進行補簽
    #PS: 2019年11月15日是本插件初代版本完工之日
    Minimum-Date: '2019-11-15'
    #所需物品
    Required-Item:
        #如果為false， 則補簽卡將不是一個可以被放置於物品欄中的物品，而會是虛擬道具
        #你可以使用/signin info [玩家] 查看一名玩家擁有的補簽卡數量
        Enabled: false
        #自定義物品的名字
        #你可以在CustomItems.yml文件中編輯它。
        CustomItem: 'RetroactiveCard'

#MySQL 資料庫設置
MySQL-Storage:
    Enabled: false
    #主機名
    Hostname: localhost
    #端口
    Port: 3306
    #用戶名
    Username: 'root'
    #密碼
    Password: 'password'
    #資料庫名稱
    Database: 'litesignin'
    #玩家資料刷新間隔時間（秒）。 -1為無，僅在進入伺服器時刷新資料（建議在單分流使用MySQL的情況下才這麼做）
    Refresh-Interval: 5
    #連結超時時間
    Wait-Timeout: 18000
    #數據表名稱
    Table-Name: playerdata
    #自動部署模式
    #該模式下在連接到MySQL後會自動定位/創建目標資料庫
    #適合只會部署但是不會操作MySQL的人使用
    #PS：若伺服器無法定位到目標資料庫，則需要關閉此選項手動創建資料庫！
    Automatic-Deploy-Mode: true
    #更多連結參數，如果你不是一名開發者，並且不熟知JDBC，請不要修改它
    Options:
        useSSL: false
        useUnicode: true
        allowMultiQueries: true
        allowPublicKeyRetrieval: true
        characterEncoding: 'utf8'
        autoReconnect: true

#SQLite 資料庫設置
#儲存模式優先級: Yaml < SQLite < MySQL
SQLite-Storage:
    #默認為啟用，若關閉則轉為Yaml儲存格式
    Enabled: true
    #資料庫文件名
    Database-File: 'Database.db'
    #資料庫文件夾路徑
    Database-Path: 'plugins/LiteSignIn/'
    #玩家資料刷新間隔時間（秒）。 -1為無，僅在進入伺服器時刷新資料
    Refresh-Interval: 5
    #數據表名稱
    Table-Name: playerdata
    
#數據管理設置
Database-Management:
    #備份
    Backup:
        #是否允許使用備份功能
        Enabled: true
        #是否開啟自動備份（每一次伺服器關閉時進行）
        Auto-Backup: false
        #備份文件夾路徑
        Backup-Folder-Path: 'plugins/LiteSignIn/Backup/'
        #備份文件名稱
        Backup-File: 'Backup-{time}'
        #時間格式
        Time-Format: 'yyyy-MM-dd-HH-mm-ss'
    #回檔
    Rollback:
        #是否允許使用回檔功能
        Enabled: true
        #備份文件夾路徑（將從此處選擇備份文件進行回檔）
        Backup-Folder-Path: 'plugins/LiteSignIn/Backup/'
        #執行回檔前，是否先進行備份
        Rollback-With-Backup: true
    
#簽到獎勵任務順序
#默認順序依次是 物品獎勵 -> 命令執行 -> 信息發送 -> 廣播信息-> 播放聲音
Reward-Task-Sequence:
- ITEMS_REWARD
- COMMANDS_EXECUTION
- MESSAGES_SENDING
- BROADCAST_MESSAGES_SENDING
- PLAYSOUNDS

#權限設置
#當Default為true時，將默認所有人都有權限。
Permissions:
    #補簽卡相關權限
    Retroactive-Card:
        #使用補簽卡
        Use:
            Permission: signin.retroactive-card.use
            Default: true
        #持有補簽卡，若無權限則會自動被系統沒收
        Hold:
            Permission: signin.retroactive-card.hold
            Default: true
    #插件更新檢測相關權限
    Updater:
        Permission: signin.updater
        Default: false
    #登入伺服器時自動簽到的權限
    Join-Auto-SignIn:
        Default: false
        Permission: signin.joinevent.autosignin
    #命令相關權限
    Commands:
        Help: 
            Permission: signin.command.help
            Default: true
        Reload: 
            Permission: signin.command.reload
            Default: false
        GUI: 
            Permission: signin.command.gui
            Default: true
        Designated-GUI: 
            Permission: signin.command.designatedgui
            Default: false
        Click: 
            Permission: signin.command.click
            Default: true
        Click-Others: 
            Permission: signin.command.clickothers
            Default: false
        Info: 
            Permission: signin.command.info
            Default: false
        RetroactiveCard:
            Permission: signin.command.retroactivecard
            Default: false
            Give:
                Permission: signin.command.retroactivecard.give
                Default: false
            Set:
                Permission: signin.command.retroactivecard.set
                Default: false
            Take:
                Permission: signin.command.retroactivecard.take
                Default: false
        ItemCollection: 
            Permission: signin.command.itemcollection
            Default: false
            List:
                Permission: signin.command.itemcollection.list
                Default: false
            Add:
                Permission: signin.command.itemcollection.add
                Default: false
            Delete:
                Permission: signin.command.itemcollection.delete
                Default: false
            Give:
                Permission: signin.command.itemcollection.give
                Default: false
        Save: 
            Permission: signin.command.save
            Default: false
        Database:
            Permission: signin.command.database
            Default: false
            Backup:
                Permission: signin.command.database.backup
                Default: false
            Rollback:
                Permission: signin.command.database.rollback
                Default: false
        LeaderBoard:
            Permission: signin.command.leaderboard
            Default: true
            Designated-Date:
                Permission: signin.command.leaderboard.designateddate
                Default: false
        Reward:
            Permission: signin.command.reward
            Default: false